  body {
    background-color: rgb(196, 255, 206);
    color:black;
    border:7px solid rgb(212, 7, 7);
    margin:5%;
}

header {
    background-color:rgb(56, 212, 121);
    height: 100px;
}

nav li {
    display:inline-block;
    width: 30;
}

#top-section{
    border:7px solid rgb(224, 167, 167);
}

#top-section img{
    width: 800px;
    float:inline-start;
    border:2px solid black;
}

.lower-section{
    border:7px darkblue;
    max-width: 150px;
    display: inline-block;
}

.lower-section img{
    border: 2px solid blueviolet;
}