body {
    background-color: rgb(196, 255, 206);
    color:black;
    border:7px solid rgb(212, 7, 7);
    margin:5%;
}

nav li {
    display:inline-block;
    width: 100px;
    margin-top: 5px;
    font-size: 20px;
}

header {
    background-color:rgb(56, 212, 121);
    border:7px solid blue;
    height: 150px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 20px;
    color:brown;
}

#top-section {
    border:7px solid rgb(224, 167, 167);
    text-align: inline start;
    height: 300px;
}

#top-section img {
    width: 400px;
    float: right;
    border:2px solid black;
}

.lower-section {
    border:7px darkblue;
    display: inline-block;
}
.lower-section2 {
    border:7px darkblue;
    display: inline-block;
    text-align: inline start;
}

.lower-section2 img {
    border: 5px solid darkblue;
    float:right;
}

.lower-section img {
    border: 5px solid blueviolet;
    float:inline-end;
}

footer{
    border:7px solid green;
}